<div class="mat-app-background">

  <mat-toolbar color="primary" class="toolbar">
    <div fxLayoutAlign="space-between center" class="nav-buttons-bar">
      <button mat-button [routerLink]="['/home']">Web Technologies</button>
      <div *ngIf="!(authorService.user$ | async)?.uid">
        <button mat-button (click)="authorService.login()">Login</button>
      </div>
      <div *ngIf="(authorService.user$ | async)?.uid">
        <button mat-button [routerLink]="['/tech-list']">Technologies</button>
        <button mat-button [routerLink]="['/author-list']">Authors</button>
        <button mat-button (click)="authorService.logout()">Logout</button>
      </div>
    </div>
  </mat-toolbar>

  <div>
    <div fxFlexOffset.gt-sm="15%" fxFlex.gt-sm="70%">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>
