/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    margin: 0;
    font-family: Roboto sans-serif;
}
.toolbar {
    box-shadow: 5px 5px 10px rgb(30, 6, 97);
}